.modal {
    --transition-duration: 240ms;
    --close-btn-offset-x:  var(--page-padding-x);
    --close-btn-offset-y: var(--page-padding-y);

    @media (prefers-reduced-motion) {
        --transition-duration: 0ms;
    }
      
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(0,0,0,0);
    z-index: 1;
    transition: background-color var(--transition-duration) linear;

    &--small {
        --close-btn-offset-x: 10px;
        --close-btn-offset-y: 10px;
    }

    &--active {
        background-color: rgba(0,0,0,0.35);
    }
    
    
    &-body {
        display:flex;
        justify-content: center;
        align-items:center;
        position: relative;
        transform: translateX(var(--translation));
        opacity: var(--opacity);
        transition: transform var(--transition-duration) ease, opacity var(--transition-duration) ease;

        &--animate-left {
            --translation: -100%;
        }

        &--animate-right {
            --translation: 100%;
        }

        &--animate-fade {
            --opacity: 0;
        }

        &--animate-none {
            --translation: 0%;
            --opacity: 1;
        }

        &--active {
            --translation: 0%;
            --opacity: 1;
        }
    }
    
    &-close {
        position: absolute;
        top:  var(--close-btn-offset-y);
        right: var(--close-btn-offset-x);
        z-index: 2;
        background-color: #fff;
        transition: background-color 80ms ease;

        &--outside {
            top: 10px;
            right: 10px;
        }

        &:hover {
            background-color: hsla(0, 0%, 98%, .8);
        }
        
        > img {
            width: 90%;
            height:90%;
        }
    }    
}