.btn {
    --width: 3rem;
    --height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-width:0;
    cursor: pointer;

    &--round {
        border-radius: 50%;
    }

    > img {
        --dim: 1rem;
        width: var(--dim);
        height: var(--dim);
    }
}