.btn {
    --width: 3rem;
    --height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border: 1px solid var(--txt-clr);
    cursor: pointer;

    &--round {
        border-radius: 50%;
    }

    > img,
    > svg {
        --dim: 60%;
        width: var(--dim);
        height: var(--dim);
    }
}