.btn {
    --width: 3rem;
    --height: 3rem;
    --transition-duration: 320ms;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border: 1px solid var(--txt-clr);
    cursor: pointer;

    transition: background-color var(--transition-duration) ease;

    &--round {
        border-radius: 50%;
    }

    &--dark {
        background-color: transparent;
        border: 1px solid var(--primary-dark) !important;

        &:hover {
            background-color: var(--primary-dark);
    
            path {
                fill: var(--primary-light);
            }
        }
    }

    > img,
    > svg {
        --dim: 1.75rem;
        width: var(--dim);
        height: var(--dim);
    }

    svg, g, path {
        transition: stroke var(--transition-duration) ease, fill var(--transition-duration) ease;
    }
}
