.btn {
    --width: 2.75rem;
    --height: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-width:0;
    cursor: pointer;
}

.btn--round {
    border-radius: 50%;
}

.btn > img {
    width: 90%;
    height: 90%;
}