.app-intro {
    text-align: center;
    display: grid;
    place-content: center;
    row-gap: 2rem;
}

.page-title {
    font-size: clamp(3rem, 4vw, 6rem);
}

.btn-wrapper {
    display: flex; 
    justify-content: center;
}