.timeline-scrubber {
    -webkit-appearance: none;
    appearance: none;
    width:100%;
    margin-top: 1rem;
    background-color: transparent;
    cursor: pointer;

    /* Track */
    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
        background: var(--txt-clr);
        height: 1px;
    }
    
    /* Controller */
    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        -webkit-appearance: none; /* Override default look */
        border: none; /*Removes extra border that FF applies*/
        border-radius: 50%; /*Removes default border-radius that FF applies*/
    
        appearance: none;
        margin-top: -12px; /* Centers thumb on the track */
        height: 1rem;
        width: 1rem;   
        background-color: var(--bg-clr);
        border: 3px solid var(--txt-clr);
        transform: scale(1);
        transition: transform 80ms ease;
    }
    
    &:hover::-moz-range-thumb {
       transform: scale(1.25);
    }
}
