.timeline-scrubber {
    --track-w: 100%;
    --track-h: 0px;
    --track-bg: transparent;
    --track-border: 1px solid hsl(0,0%,100%);

    --thumb-dim: 2rem;
    --thumb-border: 3px solid var(--secondary-light);
    --thumb-radius: 50%;
    --thumb-bg: hsl(0,0%,0%);

    @media (min-width:992px) {
        --thumb-dim: 1.5rem;
    }

    /* Reset */
    @apply absolute inset-x-page-x bottom-8 bg-transparent;
    width: calc(100% - calc(theme(spacing.page-x) * 2));
    -webkit-appearance: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }


    &:active {
        --thumb-bg: var(--secondary-light);
    }

    /* Track */
    &::-webkit-slider-runnable-track {
        width: var(--track-w);
        height: var(--track-h);
        background-color: var(--track-bg);
        border-top: var(--track-border);
        cursor: pointer;
    }

    &:focus::-webkit-slider-runnable-track {
        background: var(--track-bg);
    }

    &::-moz-range-track {
        width: var(--track-w);
        height: var(--track-h);
        border-top:  var(--track-border);
        cursor: pointer;
    }
         
    
    /* Thumb */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: var(--thumb-border);
        height: var(--thumb-dim);
        width: var(--thumb-dim);
        border-radius: var(--thumb-radius);
        background-color: var(--thumb-bg);
        cursor: pointer;
        margin-top: calc(var(--thumb-dim) / -2);
        transition: background-color 100ms ease
    }

    &::-moz-range-thumb {
        border: var(--thumb-border);
        height: var(--thumb-dim);
        width: var(--thumb-dim);
        border-radius: var(--thumb-radius);
        background-color: var(--thumb-bg);
        cursor: pointer;
        transition: background-color 100ms ease
    }
}
