.sequence-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    &__info-btn,
    &__expand-btn {
        position: absolute;
        top: 10px;
        background-color: transparent;
        border: 1px solid var(--primary-dark) !important;


        &:hover {
            background-color: var(--primary-dark);
    
            path {
                fill: var(--primary-light);
            }
        }
    }

    &__info-btn {
        left: var(--page-padding-x);
    }

    &__expand-btn {
        right: var(--page-padding-x);
    } 
}