.sequence-viewer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    &__info-btn,
    &__expand-btn {
        position: absolute;
        top: 10px;
        background-color: transparent;
        border: 1px solid #fff !important;
    }

    &__info-btn {
        left: var(--page-padding-x);
    }

    &__expand-btn {
        right: var(--page-padding-x);
    } 
}