.btn {
    --width: 15rem;
    --height: 3rem;
    --transition-duration: 320ms;
    
    --bg-color: transparent;
    --svg-color: var(--txt-clr);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(var(--width), 100%);
    height: var(--height);
    padding: 0 2rem;
    color: var(--txt-clr);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: background-color var(--transition-duration) ease;

    &:hover {
        --txt-clr: var(--txt-color-invert);
        --bg-color: var(--bg-color-invert);
    }

    &--square {
        --width: var(--height);
        padding: 0;
        flex: 0 0 auto;
    }

    &--link {
        --transform: 0;
        --width: auto;
        --height:  auto;

        position:relative;
        padding: 0;
        border-width: 0;
        color: var(--accent-clr);
        
        &:hover {
            --bg-color: transparent;
            --transform: 100%;
            
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: var(--accent-clr);       
            transform: scaleX(var(--transform));
            transform-origin: left;
            transition: 80ms ease transform; 
        }
    }


    &--round {
        border-radius: 50%;
    }

    &--dark {
        --border-color: var(--primary-dark);
        --svg-color: var(--primary-dark);
        --txt-clr: var(--primary-dark);
            
        &:hover {
            --bg-color: var(--primary-dark);
            --svg-color: var(--primary-light); 
            --txt-clr: var(--primary-light);
        }
    }

    &--light {
        --border-color: var(--primary-light);
        --svg-color: var(--primary-light);
        --txt-clr: var(--primary-light);

        &:hover {
            --bg-color: var(--primary-light);
            --svg-color: var(--primary-dark); 
            --txt-clr: var(--primary-dark);
        }
    }

    > img,
    > svg {
        --dim: 1.75rem;
        width: var(--dim);
        height: var(--dim);
    }

    svg, g, path {
        transition: stroke var(--transition-duration) ease, fill var(--transition-duration) ease;
    }

    path {
        fill: var(--svg-color);
    }
}
