.page-grid {
  display: grid;
  row-gap: 3.5rem;
  width: min(100%, 36rem);
  margin-left:auto;
  margin-right:auto;
  
  @media (min-width:992px) { 
    grid-template-columns: 1fr 500px;
    width: min(100%, 52rem);
  }
}
.species {
  font-style: italic;
}

.binomen {
  text-align: center;
  color: var(--txt-muted);
}
