:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
 
  --bg-clr: hsl(0, 0%, 100%);
  --txt-clr: hsl(0, 0%, 5%);

  @media (prefers-color-scheme: dark) {
    --bg-clr: hsl(0, 0%, 5%);
    --txt-clr: hsl(0, 0%, 100%);
  }
  
}


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-clr);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--txt-clr);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
