@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-light: hsl(0, 0%, 5%);
  --primary-dark: hsl(0, 0%, 90%);
  --secondary-light: hsl(41, 100%, 49%);
  --secondary-dark: hsl(170, 24%, 31%);
  --true-black: #000;
 
  --bg-clr: var(--primary-dark);
  --txt-clr: var(--primary-light);
  --border-color: var(--primary-light);
  --txt-muted: hsl(0, 0%, 46%);
  --accent-clr: var(--secondary-dark);

  --bg-color-invert: var(--primary-light);
  --txt-color-invert: var(--primary-dark);
  --border-color-invert: var(--primary-dark);

  --page-padding-x: 1rem;
  --page-padding-y: 3rem;

  &[data-theme="dark"] {
    --bg-clr: var(--primary-light);
    --border-color: var(--primary-dark);
    --txt-clr: var(--primary-dark);
    --txt-muted: hsl(0, 0%, 51%);
    --accent-clr: var(--secondary-light);


    --bg-color-invert: var(--primary-dark);
    --txt-color-invert: var(--primary-light);
    --border-color-invert: var(--primary-light);
  }
}

.page-grid {
  @apply grid w-[95%] min-h-dvh mx-auto;
  grid-template-rows: max-content 1fr;
}

.link {
  @apply relative p-0 border-0 text-accent-light dark:text-accent-dark after:content-[''] hover:bg-transparent after:absolute after:inset-x-0 after:bottom-0 after:h-px after:w-full  after:origin-left after:transition-transform after:duration-75 after:bg-accent-light dark:after:bg-accent-dark;
  
  --transform: 0;

  &:hover {
    --transform: 1;
  }

  &::after {
    transform: scaleX(var(--transform));
  }
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://www.cssmojo.com/hide-content-from-sighted-users/
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
.sr-only {
  @apply absolute border-0 h-px m-[-1px] overflow-hidden p-0 w-px whitespace-nowrap;

	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
}




html, body {
  overscroll-behavior-x: none;
}


html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @apply bg-primary-light dark:bg-primary-dark;

  &.modal-open {
    @apply h-dvh overflow-hidden;
  }
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, dd, dt, button {
  @apply font-serif font-normal;
}

ol, ul {
  list-style: none;
}

p {
  line-height: 2;

  &:has(+ p) {
    margin-bottom: 1rem;
  }
}

p, button {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--accent-clr);
  }
}
