html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-light: hsl(0, 0%, 10%);
  --primary-dark: hsl(0, 0%, 100%);
  --accent-clr: hsl(41, 100%, 49%);
 
  --bg-clr: var(--primary-dark);
  --txt-clr: var(--primary-light);
  --border-color: var(--primary-light);
  --txt-muted: hsl(0, 0%, 46%);

  --bg-color-invert: var(--primary-light);
  --txt-color-invert: var(--primary-dark);
  --border-color-invert: var(--primary-dark);

  --page-padding-x: 1rem;
  --page-padding-y: 3rem;

  &[data-theme="dark"] {
    --bg-clr: var(--primary-light);
    --border-color: var(--primary-dark);
    --txt-clr: var(--primary-dark);
    --txt-muted: hsl(0, 0%, 51%);

    --bg-color-invert: var(--primary-dark);
    --txt-color-invert: var(--primary-light);
    --border-color-invert: var(--primary-light);
  }
}


html, body {
  overscroll-behavior-x: none;
}


html {
  box-sizing: border-box;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg-clr);
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: normal;
  color: var(--txt-clr);
}

ol, ul {
  list-style: none;
}

p {
  line-height: 2;

  &:has(+ p) {
    margin-bottom: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}
